<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-30 13:33:49
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-02 00:19:37
 */
</script>

<template>
  <div class="el-collapse-item" :class="{ 'is-active': isActive, 'is-disabled': disabled }">
    <div
      role="tab"
      :aria-expanded="isActive"
      :aria-controls="`el-collapse-content-${id}`"
      :aria-describedby="`el-collapse-content-${id}`"
    >
      <div
        class="el-collapse-item__header title"
        @click="handleHeaderClick"
        role="button"
        :id="`el-collapse-head-${id}`"
        :tabindex="disabled ? undefined : 0"
        @keyup.space.enter.stop="handleEnterClick"
        :class="{
          focusing: focusing,
          'is-active': isActive
        }"
        @focus="handleFocus"
        @blur="focusing = false"
      >
        <slot name="title">{{ title }}</slot>
        <span class="el-collapse-item__arrow"
          >{{ text }}<i class="el-icon-arrow-down" :class="{ 'is-active': isActive }"> </i
        ></span>
      </div>
    </div>
    <div>
        
    </div>
    <el-collapse-transition>
      <div
        class="el-collapse-item__wrap"
        v-show="isActive"
        role="tabpanel"
        :aria-hidden="!isActive"
        :aria-labelledby="`el-collapse-head-${id}`"
        :id="`el-collapse-content-${id}`"
      >
        <div class="el-collapse-item__content">
          <slot></slot>
        </div>
      </div>
    </el-collapse-transition>
  </div>
</template>
<script>
import Emitter from 'element-ui/src/mixins/emitter'
import { generateId } from 'element-ui/src/utils/util'

export default {
  name: 'FoldCardItem',

  componentName: 'FoldCardItem',

  mixins: [Emitter],

  data() {
    return {
      contentWrapStyle: {
        height: 'auto',
        display: 'block'
      },
      contentHeight: 0,
      focusing: false,
      isClick: false,
      id: generateId()
    }
  },

  inject: ['collapse'],

  props: {
    title: String,
    name: {
      type: [String, Number],
      default() {
        return this._uid
      }
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    isActive() {
      return this.collapse.activeNames.indexOf(this.name) > -1
    },
    text() {
        return this.isActive ? '折り畳む' : '展開'
    }
  },

  methods: {
    handleFocus() {
      setTimeout(() => {
        if (!this.isClick) {
          this.focusing = true
        } else {
          this.isClick = false
        }
      }, 50)
    },
    handleHeaderClick() {
      if (this.disabled) return
      this.dispatch('FoldCard', 'item-click', this)
      this.focusing = false
      this.isClick = true
    },
    handleEnterClick() {
      this.dispatch('FoldCard', 'item-click', this)
    }
  }
}
</script>

<style lang="scss">
</style>
