<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-16 16:50:01
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 17:47:55
 */
</script>

<template>
  <section class="app-main">
    <transition name="fade-transform" mode="out-in">
      <router-view :key="key" />
    </transition>
  </section>
</template>

<script>
export default {
  name: 'AppMain',
  computed: {
    key() {
      return this.$route.path
    }
  }
}
</script>