<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-30 11:48:53
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 19:30:30
 */
</script>

<template>
  <div class="add-edit-drawer">
    <div class="drawer-header">
      <div class="header-title">
        <div class="title">{{ title }}</div>
      </div>
      <svg-icon className="close" icon-class="close" @click="colseDrawer" />
    </div>

    <fold-card>
      <el-form label-position="top" :model="addEditForm" ref="addEditForm" :disabled="disabled">
        <fold-card-item title="工事情報" name="construction" v-show="state != 0">
          <el-row :gutter="20" class="row">
            <el-col :span="6">
              <div class="lbtitle">管轄:</div>
              <div>大阪本店</div>
            </el-col>
            <el-col :span="6">
              <div class="lbtitle">工事名称:</div>
              <div>大阪本店</div>
            </el-col>
            <el-col :span="6">
              <div class="lbtitle">建設地:</div>
              <div>大阪本店</div>
            </el-col>
            <el-col :span="6">
              <div class="lbtitle">特入区分:</div>
              <div>大阪本店</div>
            </el-col>
          </el-row>
          <el-row :gutter="20" class="row">
            <el-col :span="6">
              <div class="lbtitle">工事建物·工事区分名称:</div>
              <div>大阪本店</div>
            </el-col>
            <el-col :span="6">
              <div class="lbtitle">工事種別:</div>
              <div>大阪本店</div>
            </el-col>
            <el-col :span="6">
              <div class="lbtitle">建物種別:</div>
              <div>大阪本店</div>
            </el-col>
            <el-col :span="6">
              <div class="lbtitle">建物用途:</div>
              <div>大阪本店</div>
            </el-col>
          </el-row>
          <el-row :gutter="20" class="row">
            <el-col :span="6">
              <div class="lbtitle">設計者:</div>
              <div>大阪本店</div>
            </el-col>
            <el-col :span="6">
              <div class="lbtitle">工事監理者:</div>
              <div>大阪本店</div>
            </el-col>
            <el-col :span="6">
              <div class="lbtitle">敷地面積:</div>
              <div>大阪本店</div>
            </el-col>
            <el-col :span="6">
              <div class="lbtitle">延床面積:</div>
              <div>大阪本店</div>
            </el-col>
          </el-row>
          <el-row :gutter="20" class="row">
            <el-col :span="6">
              <div class="lbtitle">作業所長:</div>
              <div>大阪本店</div>
            </el-col>
            <el-col :span="6">
              <div class="lbtitle">着工日:</div>
              <div>大阪本店</div>
            </el-col>
            <el-col :span="6">
              <div class="lbtitle">竣工日:</div>
              <div>大阪本店</div>
            </el-col>
          </el-row>
        </fold-card-item>
        <fold-card-item title="工事情報" name="construction" v-show="state == 0">
          <el-row :gutter="20" class="row">
            <el-col :span="12">
              <el-form-item label="工事名称:">
                <el-select v-model="addEditForm.construction_name" placeholder="テキスト"></el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="工事建物·工事区分名称:">
                <el-select v-model="addEditForm.construction_building_name" placeholder="テキスト"></el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </fold-card-item>
        <fold-card-item title="見積情報" name="quotation">
          <el-row :gutter="20">
            <el-col :span="6">
              <el-form-item label="協力会社見積番号:">
                <el-input v-model="addEditForm.quotation_number" placeholder="テキスト"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="品目 科目:">
                <el-input v-model="addEditForm.construction_item_methods_id" placeholder="テキスト"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="概要:">
                <el-input v-model="addEditForm.subject" placeholder="テキスト"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="協力会社:">
                <el-input v-model="addEditForm.coopration_id" placeholder="テキスト"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="6">
              <el-form-item label="見積フェーズ:">
                <el-input v-model="addEditForm.phase" placeholder="テキスト"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="備考:">
                <el-input v-model="addEditForm.construction_item_methods_id" placeholder="テキスト"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="決定見積:">
                <el-switch
                  v-model="addEditForm.is_confirmed"
                  placeholder="テキスト"
                  active-text="On"
                  inactive-text="Off"
                ></el-switch>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="整理番号:">
                <el-input v-model="addEditForm.arrangement_number" placeholder="テキスト"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="6">
              <el-form-item label="発行日:">
                <el-date-picker v-model="addEditForm.published_at" type="date" placeholder="テキスト"></el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="見積有効期限:">
                <el-date-picker v-model="addEditForm.expired_at" type="date" placeholder="テキスト"></el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="24">
              <el-form-item label="見積条件:">
                <el-input
                  type="textarea"
                  :autosize="{ minRows: 3, maxRows: 4 }"
                  placeholder="テキスト"
                  v-model="addEditForm.comment"
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20" v-show="state != 0">
            <el-col :span="6">
              <div class="lbtitle">更新者:</div>
              <div>{{ addEditForm.last_updated_name }}</div>
            </el-col>
            <el-col :span="6">
              <div class="lbtitle">更新日時:</div>
              <div>{{ addEditForm.updated_date }}</div>
            </el-col>
            <el-col :span="6">
              <div class="lbtitle">ステータス:</div>
              <div>{{ addEditForm.status }}</div>
            </el-col>
          </el-row>

          <el-row :gutter="20"> </el-row>
        </fold-card-item>
        <fold-card-item title="見積詳細" name="quotationDetails">
          <div class="quotation-details">
            <div>
              <div class="lbtitle">合計金額:</div>
              <div class="total">{{ total }}円</div>
            </div>
            <div>
              <el-button type="primary" size="small">テンプレート</el-button>
              <el-button type="info" size="small">インポート</el-button>
            </div>
          </div>
        </fold-card-item>
        <template> </template>
      </el-form>
    </fold-card>

    <div class="footer ar" v-show="state != 2">
      <div>
        <el-button size="small" @click="colseDrawer">キャンセル</el-button>
        <el-button size="small" type="info" icon="el-icon-s-check" v-show="state == 1">査定画面</el-button>
        <el-button size="small" type="primary" icon="el-icon-document-checked">保存</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import SvgIcon from '@/components/SvgIcon'
import FoldCard from '@/components/FoldCard'
import FoldCardItem from '@/components/FoldCard/fold-card-item'

export default {
  name: 'AddEditDrawer',
  data() {
    return {
      construction: {},
      addEditForm: {},
    }
  },
  props: {
    state: Number
  },
  components: {
    SvgIcon,
    FoldCard,
    FoldCardItem
  },
  watch: {},
  computed: {
    scope() {
      return this.num
    },
    title() {
      switch (this.state) {
        case 0:
          return '見積新規登録'
        case 1:
          return '見積編集'
        case 2:
          return '見積表示'
      }
    },
    disabled() {
      return this.state == 2 ? true : false
    },
    total() {
      let total = 180000500
      return total.toLocaleString()
    }
  },
  methods: {
    colseDrawer() {
      this.$confirm(
        '<i class="el-message-box__status el-icon-question"></i><span class="el-message-box__message">入力中の{データ種別}を破棄します。よろしいですか？<span>',
        '確認',
        {
          confirmButtonText: 'いいえ',
          cancelButtonText: 'はい',
          dangerouslyUseHTMLString: true
        }
      ).then(() => {
        this.$emit('change', 'addDrawer', false)
      })
    },
    deleteClick() {
      let deleteForm = []
      this.multipleSelection.forEach(element => {
        deleteForm.push(element.id)
      })
      this.$confirm('ログアウトしますか？', '確認', {
        confirmButtonText: 'いいえ',
        cancelButtonText: 'はい',
        type: 'warning'
      }).then(() => {
        this.$store.dispatch('LogOut').then(() => {
          location.href = '/login'
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .add-edit-drawer {
    .quotation-details {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .total {
        color: #861c3c;
      }
    }
  }
</style>