<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-29 09:33:58
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 18:27:55
 */
</script><template>
  <div>費用ノードマスタ</div>
</template>

<script>
export default {

}
</script>

<style>

</style>