<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-16 16:50:01
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 17:48:07
 */
</script>

<template>
  <div class="navbar">
    <div class="system">
      <img class="logo" src="@/assets/images/union.png" />
      <span>AI見積査定システム</span>
    </div>
    <div class="user">
      <img class="header" src="@/assets/images/header.png" />
      <span>{{ name }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Navbar',
  props: ['name']
}
</script>

<style lang="scss" scoped>
  .navbar {
    background-color: #861c3c;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    padding: 0 14px;

    .system {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      display: flex;
      align-items: center;

      .logo {
        width: 30.5px;
        margin-right: 7.5px;
      }
    }

    .user {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-right: 6px;
      display: flex;
      align-items: center;

        .header{
            width: 32px;
            margin-right: 8px;
        }

    }
  }
</style>
