<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-18 15:38:43
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-02 08:55:30
 */
</script>

<template>
  <div class="add-edit-drawer">
    <div class="drawer-header">
      <div class="header-title">
        <div class="title">{{ title }}</div>
      </div>
      <svg-icon className="close" icon-class="close" @click="colseDrawer" />
    </div>

    <el-form :model="constructionForm" :rules="rules" ref="constructionForm">
      <div class="card">
        <div class="subtitle">工事情報</div>
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item label="工事名称:" prop="construction_name">
              <el-input v-model="constructionForm.construction_name" placeholder="テキスト"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="工事コード:">
              <el-input v-model="constructionForm.constraction_code" placeholder="テキスト"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </div>
      <div class="card">
        <div class="subtitle">工事建物·工事区分</div>
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item label="工事建物·工事区分名称:" prop="constraction_building_name">
              <el-input v-model="constructionForm.constraction_building_name" placeholder="テキスト"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="管轄:" prop="division_name">
              <el-select v-model="constructionForm.division_name" placeholder="テキスト"></el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="特入区分:" prop="order_type_id">
              <el-select v-model="constructionForm.order_type_id" placeholder="テキスト"></el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="6">
            <el-form-item label="都道府県:" prop="prefecture_name">
              <el-select v-model="value" placeholder="テキスト">
                <el-option
                  v-for="item in constructionForm.prefectures"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="市区町村:" prop="city_name">
              <el-select v-model="constructionForm.city_name" placeholder="テキスト"></el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="番地:" prop="address">
              <el-input v-model="constructionForm.address" placeholder="テキスト"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="6">
            <el-form-item label="着工日:">
              <el-date-picker v-model="constructionForm.constraction_start_at" type="date" placeholder="yyyy-mm-dd">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="竣工日:">
              <el-date-picker v-model="constructionForm.constraction_complete_at" type="date" placeholder="yyyy-mm-dd">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item label="階数B:" prop="basement_floor">
              <el-input v-model.number="constructionForm.basement_floor" placeholder="テキスト"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item label="階数F:" prop="ground_floor">
              <el-input v-model.number="constructionForm.ground_floor" placeholder="テキスト"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item label="階数P:" prop="p_floor">
              <el-input v-model.number="constructionForm.p_floor" placeholder="テキスト"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="6">
            <el-form-item label="設計者:" prop="designer_by">
              <el-select v-model="constructionForm.designer_by" placeholder="テキスト"></el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="作業所長:" prop="field_office_manager">
              <el-select v-model="constructionForm.field_office_manager" placeholder="テキスト"></el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="建物用途:" prop="usage">
              <el-input v-model="constructionForm.usage" placeholder="テキスト"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="工事種別:">
              <el-select v-model="constructionForm.construction_type_id" placeholder="テキスト"></el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="6">
            <el-form-item label="敷地面積(㎡):" prop="site_area">
              <el-input v-model="constructionForm.site_area" placeholder="テキスト"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="建築面積(㎡):" prop="building_area">
              <el-input v-model="constructionForm.building_area" placeholder="テキスト"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="延床面積(㎡):" prop="total_area">
              <el-input v-model="constructionForm.total_area" placeholder="テキスト"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="建物種別:">
              <el-select v-model="constructionForm.building_structure" placeholder="テキスト"></el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="6">
            <el-form-item label="工事監理者:">
              <el-select v-model="constructionForm.supervised_by" placeholder="テキスト"></el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="見積部担当者:" prop="quoted_by">
              <el-select v-model="constructionForm.quoted_by" placeholder="テキスト"></el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </div>
      <div class="card">
        <div class="subtitle">工事品目</div>
        <el-container>
          <el-aside width="100px">
            <el-form-item>
              <el-button
                type="primary"
                icon="el-icon-plus"
                size="mini"
                class="smallButton"
                @click="createDiv"
              ></el-button>
              <el-button
                type="primary"
                icon="el-icon-minus"
                size="mini"
                class="smallButton"
                @click="deleteDiv"
              ></el-button>
            </el-form-item>
          </el-aside>
          <el-main>
            <div v-for="(v, i) in constructionForm.construction_item_methods_buinldings" :key="i">
              <el-row :gutter="20">
                <el-col :span="6">
                  <el-form-item label="品目 科目:" prop="constraction_item_method_id">
                    <el-select
                      v-model="constructionForm.construction_item_methods_buinldings[i].construction_item_method_id"
                      placeholder="テキスト"
                    ></el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item label="決算年度:">
                    <el-select
                      v-model="constructionForm.construction_item_methods_buinldings[i].settlement_fiscal_year"
                      placeholder="テキスト"
                    ></el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row :gutter="20">
                <el-col :span="6">
                  <el-form-item label="施工開始日:">
                    <el-date-picker
                      v-model="constructionForm.construction_item_methods_buinldings[i].start_at"
                      type="date"
                      placeholder="yyyy-mm-dd"
                    ></el-date-picker>
                  </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item label="施工終了日:">
                    <el-date-picker
                      v-model="constructionForm.construction_item_methods_buinldings[i].end_at"
                      type="date"
                      placeholder="yyyy-mm-dd"
                    ></el-date-picker>
                  </el-form-item>
                </el-col>
              </el-row>
            </div>
          </el-main>
        </el-container>
      </div>
    </el-form>

    <div class="footer ar">
      <div>
        <el-button size="small" @click="colseDrawer">キャンセル</el-button>
        <el-button size="small" type="primary" icon="el-icon-document-checked" @click="chooseClick">保存</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import { createConstructions } from '@/api/construction'
import { saveConstructions } from '@/api/construction'

export default {
  name: 'AddEditConstruction',
  props: {
    state: Number,
    constructionForm: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data() {
    return {
      value: '',
      rules: {
        construction_name: [
          { required: true, message: '工事名称は空白にできません', trigger: 'blur' },
          { max: 255, message: '工事名称の長さは255文字を超えました', trigger: 'blur' }
        ],
        constraction_code: [{ max: 10, message: '工事コード長さは10文字を超える場合', trigger: 'blur' }],
        constraction_building_name: [
          { required: true, message: '建物名称は空白にできません', trigger: 'blur' },
          { max: 100, message: '検索した建物名称の長さは100文字を超えました', trigger: 'blur' }
        ],
        division_name: [{ required: true, message: '管轄エリアは空白にできません', trigger: 'blur' }],
        prefecture_name: [{ required: true, message: '都道府県は空白にできません', trigger: 'blur' }],
        city_name: [{ required: true, message: '市区町村は空白にできません', trigger: 'blur' }],
        address: [
          { required: true, message: '番地は空白にできません', trigger: 'blur' },
          { max: 100, message: '番地名称の長さは100文字を超えました', trigger: 'blur' }
        ],
        basement_floor: [
          { type: 'number', min: 0, message: '階数Bの値は0階未満であってはなりません', trigger: 'blur' }
        ],
        ground_floor: [{ type: 'number', min: 0, message: '階数Fの値は0階未満であってはなりません', trigger: 'blur' }],
        p_floor: [{ type: 'number', min: 0, message: '階数Pの値は0階未満であってはなりません', trigger: 'blur' }],
        usage: [{ max: 100, message: '検索した建物用途の長さは100文字を超えました', trigger: 'blur' }],
        site_area: [{ type: 'float', message: '', trigger: 'blur' }],
        building_area: [{ type: 'float', message: '', trigger: 'blur' }],
        total_area: [{ type: 'float', message: '', trigger: 'blur' }],
        constraction_item_method_id: [{ required: true, message: '品目科目は空白にできません', trigger: 'blur' }]
      },
      // (中) 验证时间的先后,结束时间不早于开始时间
      // (日) 開始時間より早く終了する一連の検証時間
      pickerOptionStart: {
        disabledDate: time => {
          if (this.constructionForm.constraction_complete_at) {
            return time.getTime() > new Date(this.constructionForm.constraction_complete_at).getTime()
          } else {
            return time.getTime()
          }
        }
      },
      pickerOptionEnd: {
        disabledDate: time => {
          if (this.constructionForm.constraction_start_at) {
            return (
              time.getTime() < new Date(this.constructionForm.constraction_start_at).getTime() - 1 * 24 * 60 * 60 * 1000
            )
          }
        }
      }
    }
  },
  computed: {
    title() {
      switch (this.state) {
        case 0:
          return '工事新規登録'
        case 1:
          return '工事編集'
      }
    }
  },

  methods: {
    colseDrawer() {
      this.$confirm(
        `<i class="el-message-box__status el-icon-question"></i><span class="el-message-box__message">入力中の${this.title}を破棄します。よろしいですか？<span>`,
        '確認',
        {
          confirmButtonText: 'いいえ',
          cancelButtonText: 'はい',
          dangerouslyUseHTMLString: true
        }
      ).then(() => {
        if (this.state == 0) {
          this.$emit('change', 'addDrawer', false)
        }else {
          this.$emit('change', 'editDrawer', false)
        }
      })
    },
    //(中) 点加号创建一个工事品目，点减号减少一个工事品目
    // (日)プラス記号をタップすると1つ増え工事品目、マイナス記号をタップすると1つ減ります工事品目
    createDiv() {
      this.constructionForm.construction_item_methods_buinldings.push({
        construction_item_method_id: '',
        start_at: '',
        end_at: '',
        settlement_fiscal_year: ''
      })
    },
    deleteDiv() {
      this.constructionForm.construction_item_methods_buinldings.splice(-1, 1)
    },
    close() {
      this.$emit('update:visible', false)
      this.$emit('update:isVisible', false)
    },
    chooseClick(title) {
      const data = this.constructionForm
      if (title == '工事新規登録') {
        createConstructions(data)
          .then(res => {
            console.log(res)
          })
          .catch(err => {
            this.msgError(err.msg)
          })
      } else {
        saveConstructions(data)
          .then(res => {
            console.log(res)
          })
          .catch(err => {
            this.msgError(err.msg)
          })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>