<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-16 10:42:35
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 17:48:42
 */
</script>

<template>
  <div>
    <el-scrollbar wrap-class="scrollbar-wrapper">
      <el-menu
        :default-active="activeMenu"
        :collapse="isCollapse"
        :unique-opened="true"
        :text-color="variables.menuText"
        :active-text-color="variables.menuActiveText"
        :collapse-transition="false"
        mode="vertical"
      >
        <sidebar-item
          v-for="(route, index) in router"
          :key="route.path + index"
          :item="route"
          :base-path="route.path"
        />
      </el-menu>
      <div class="nomenu" @click="logout">
        <item :title="logoutTitle" icon="logout" />
      </div>
      <div class="nomenu fold" @click="menuFoldClick">
        <item :title="closeTitle" :icon="fold" />
      </div>
    </el-scrollbar>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Item from './Item'
import SidebarItem from './SidebarItem'
import variables from '@/assets/styles/variables.scss'

export default {
  components: { Item, SidebarItem },
  computed: {
    ...mapGetters(['sidebarRouters', 'sidebar']),
    router() {
      return this.$router.options.routes
    },
    activeMenu() {
      const route = this.$route
      const { meta, path } = route
      if (meta.activeMenu) {
        return meta.activeMenu
      }
      return path
    },
    variables() {
      return variables
    },
    isCollapse() {
      return !this.sidebar
    },
    fold() {
      return this.sidebar ? 'menu-unfold' : 'menu-fold'
    },
    logoutTitle() {
      return this.sidebar ? 'ログアウト' : ''
    },
    closeTitle() {
      return this.sidebar ? '閉じる' : ''
    }
  },
  methods: {
    menuFoldClick() {
      this.$store.dispatch('app/toggleSideBar', !this.isCollapse)
    },

    async logout() {
      this.$confirm('ログアウトしますか？', '確認', {
        confirmButtonText: 'いいえ',
        cancelButtonText: 'はい',
        type: 'warning'
      }).then(() => {
        this.$store.dispatch('LogOut').then(() => {
          location.href = '/login'
        })
      })
    }
  }
}
</script>
