<script>
/**
 * @Author: 李修明
 * @Date:   2022-01-16 15:41:02
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 18:26:45
 */
</script><template>
  <div>標準単価マスタ</div>
</template>

<script>
export default {

}
</script>

<style>

</style>