<!-- 
  @Author: 李修明
  @Date:   2023-01-16 14:10:42
  @Last Modified by:   李修明
  @Last Modified time: 2023-02-01 17:33:32
-->
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>AI見積査定システム</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but AI見積査定システム doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
