<script>
/**
 * @Author: 李修明
 * @Date:   2022-12-28 15:38:17
 * @Last Modified by:   Your name
 * @Last Modified time: 2023-02-02 10:29:17
 */
</script>

<template>
  <div class="construction">
    <outter-drawer :drawer="searchDrawer">
      <search-drawer @change="changeDrawer" :result="result" />
    </outter-drawer>

    <outter-drawer :drawer="addDrawer">
      <add-edit-construction @change="changeDrawer" :state="0" :constructionForm="constructionForm" />
    </outter-drawer>

    <div class="main">
      <div class="header">
        <div class="title">工事情報検索</div>
        <div>
          <el-button size="mini" type="primary" icon="el-icon-plus" @click="addClick">新規登録</el-button>
        </div>
      </div>

      <el-form label-position="top" ref="form" :model="form" :rules="rules">
        <div>
          <div class="subtitle">工事情報</div>

          <el-row :gutter="20">
            <el-col :span="12">
              <el-form-item label="工事名称:" prop="construction_name">
                <el-input v-model="form.construction_name" placeholder="テキスト" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="工事コード:">
                <el-input v-model="form.constraction_code" placeholder="テキスト" clearable></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <div class="subtitle">工事建物·工事区分</div>
          <el-row :gutter="20">
            <el-col :span="12">
              <el-form-item label="工事建物·工事区分名称:" prop="constraction_building_name">
                <el-input v-model="form.constraction_building_name" placeholder="テキスト" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="管轄:">
                <el-select v-model="form.valueDivisionName" placeholder="テキスト">
                  <el-option
                    v-for="item in form.division_name"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="都道府県:">
                <el-select v-model="form.valuePrefectures" placeholder="テキスト">
                  <el-option v-for="item in form.prefectures" :key="item.id" :label="item.name" :value="item.id">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="6">
              <el-form-item label="市区町村:">
                <el-select v-model="form.city_name" placeholder="テキスト"></el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="建物用途:" prop="usage">
                <el-input v-model="form.usage" placeholder="テキスト" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="建物種別:" prop="building_structure">
                <el-input v-model="form.building_structure" placeholder="テキスト" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="決算年度:">
                <el-select v-model="form.settlement_fiscal_year" placeholder="テキスト"></el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="6">
              <el-form-item label="作業所長:">
                <el-input v-model="form.field_office_manager" placeholder="テキスト" clearable></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <div class="subtitle">工事品目情報</div>
          <el-row :gutter="20">
            <el-col :span="6">
              <el-form-item label="品目:">
                <el-select v-model="form.construction_item_id" placeholder="テキスト"></el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="科目:">
                <el-select v-model="form.constraction_methods_id" placeholder="テキスト"></el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
      </el-form>
    </div>
    <div class="footer ar">
      <el-button size="small" @click="callOf('form')">クリア</el-button>
      <el-button type="primary" size="small" icon="el-icon-search" @click="searchClick">検索</el-button>
    </div>
  </div>
</template>

<script>
import OutterDrawer from '@/components/OutterDrawer'
import SearchDrawer from '@/views/construction/searchDrawer'
import AddEditConstruction from '@/views/construction/addEditConstruction'
import { getConstructions } from '@/api/construction'

export default {
  name: 'construction',
  components: {
    OutterDrawer,
    SearchDrawer,
    AddEditConstruction
  },
  data() {
    return {
      result: [],
      constructionForm: {
        construction_item_methods_buinldings: [
          {
            valuePrefectures: '',
            valueDivisionName: '',
            construction_item_method_id: '',
            start_at: '',
            end_at: '',
            settlement_fiscal_year: ''
          }
        ]
      },
      form: {
        //(中)这里传检索的form
        construction_name: '',
        constraction_code: '',
        constraction_building_name: '',
        division_name: '',
        prefectures: [
          {
            id: 1,
            name: '大阪本店'
          },
          {
            id: 2,
            name: '东京本店'
          }
        ],
        city_name: '',
        usage: '',
        building_structure: '',
        settlement_fiscal_year: '',
        field_office_manager: '',
        construction_item_id: '',
        constraction_methods_id: ''
      },
      searchDrawer: false,
      addDrawer: false,
      rules: {
        construction_name: [
          {
            max: 255,
            message: '検索した工事名称の長さは255文字を超えました',
            trigger: 'blur'
          }
        ],
        constraction_building_name: [
          {
            max: 100,
            message: '検索した建物名称の長さは100文字を超えました',
            trigger: 'blur'
          }
        ],
        usage: [
          {
            max: 100,
            message: '検索した建物用途の長さは100文字を超えました',
            trigger: 'blur'
          }
        ],
        building_structure: [
          {
            max: 100,
            message: '検索した建物種別の長さは100文字を超えました',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    changeDrawer(drawer, state) {
      this[drawer] = state
    },
    // (中)清除表格信息
    // (日)フォームリセット
    callOf(form) {
      this.$refs.form.resetFields()
    },
    searchClick(form) {
      this.$refs.form.validate(valid => {
        if (valid) {
          getConstructions(this.form)
            .then(res => {
              if (res.result.length > 0) {
                this.result = res.result
                this.searchDrawer = true
              } else {
                this.msgInfo('検索結果は0件です。条件を変更して検索してください。')
              }
            })
            .catch(err => {
              this.msgError(err.msg)
            })
        }
      })
    },
    addClick() {
      this.addDrawer = true
    }
  }
}
</script>