<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-30 08:48:39
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-01-31 13:34:06
 */
</script>

<template>
  <el-drawer
    :visible.sync="drawer"
    :size="size"
    :append-to-body="true"
    :close-on-press-escape="false"
    :withHeader="false"
    :wrapperClosable="false"
    :destroyOnClose="true"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <slot></slot>
  </el-drawer>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'OutterDrawer',
  data() {
    return {}
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    drawer: {
      type: Boolean,
      required: false
    }
  },
  computed: {
    ...mapState({
      sidebar: state => state.app.sidebar
    }),
    size() {
      return this.sidebar ? 'calc(100% - 224px)' : 'calc(100% - 72px)'
    }
  },
}
</script>
