<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-19 21:51:40
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-01-31 17:57:26
 */
</script>

<template>
  <div class="index">
    <div class="main">
      <img src="@/assets/images/homePagebg.png" alt="" />
    </div>
  </div>
</template>

<style>
</style>

<script>
export default {
  data() {
    return {}
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
  .index {
    height: 100%;

    .main img {
      display: block;
      margin: 0 auto;
    }
  }
</style>


