<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-30 11:48:53
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 18:43:18
 */
</script>

<template>
  <div class="search-drawer">
    <outter-drawer :drawer="editDrawer">
      <add-edit-drawer @change="changeDrawer" :state="state" />
    </outter-drawer>

    <div class="drawer-header">
      <div class="header-title">
        <div class="title">見積一覧</div>
        <div>
          検索結果全数&nbsp;<span>{{ num }}</span
          >&nbsp;件
        </div>
        <div>
          現在表示している範囲&nbsp;<span>{{ scope }}</span
          >&nbsp;件目
        </div>
      </div>
      <svg-icon className="close" icon-class="close" @click="colseDrawerClick" />
    </div>

    <div class="drawer-table" stripe>
      <el-table :data="tableData" @selection-change="handleSelectionChange">
        <el-table-column type="selection"></el-table-column>
        <el-table-column
          v-for="item in tableProps"
          :key="item.prop"
          :prop="item.prop"
          :label="item.label"
          :min-width="item.width"
        ></el-table-column>
      </el-table>
    </div>

    <div class="footer sb">
      <div></div>
      <div>
        <el-button size="small" type="danger" icon="el-icon-delete" :disabled="multiple" @click="deleteClick"
          >削除</el-button
        >
        <el-button size="small" type="info" icon="el-icon-document-copy" :disabled="single" @click="editDrawerClick"
          >複製</el-button
        >
        <el-button size="small" type="warning" icon="el-icon-edit" :disabled="single" @click="editDrawerClick"
          >編集</el-button
        >
        <el-button size="small" type="primary" icon="el-icon-view" :disabled="single" @click="showDrawerClick"
          >表示</el-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import SvgIcon from '@/components/SvgIcon'
import OutterDrawer from '@/components/OutterDrawer'
import AddEditDrawer from '@/views/quotation/AddEditDrawer'

const TableProps = [
  { prop: 'division_name', label: '管轄', width: '80' },
  { prop: 'construction_name', label: '工事名称', width: '80' },
  { prop: 'address', label: '建設地', width: '80' },
  { prop: 'usage', label: '建物用途', width: '80' },
  { prop: 'construction_building_name', label: '工事建物·工事区分名称', width: '120' },
  { prop: 'coopration_name', label: '協力会社', width: '80' },
  { prop: 'construction_item_id_name', label: '品目', width: '80' },
  { prop: 'construction_method_id_name', label: '科目', width: '80' },
  { prop: 'subject', label: '概要', width: '80' }
]

export default {
  name: 'SearchDrawer',
  data() {
    return {
      tableProps: TableProps,
      tableData: [],
      num: 0,
      checkState: true,
      singleState: true,
      editDrawer: false,
      state: 1,
      ids: []
    }
  },
  components: {
    SvgIcon,
    OutterDrawer,
    AddEditDrawer
  },
  watch: {},
  computed: {
    scope() {
      return this.num
    }
  },
  methods: {
    //click
    editDrawerClick() {
      this.state = 1
      this.editDrawer = true
    },
    showDrawerClick() {
      this.state = 2
      this.editDrawer = true
    },
    colseDrawerClick() {
      this.$emit('change', 'searchDrawer', false)
    },
    deleteClick() {
      this.$confirm('ログアウトしますか？', '確認', {
        confirmButtonText: 'いいえ',
        cancelButtonText: 'はい',
        type: 'warning'
      }).then(() => {
        this.$store.dispatch('LogOut').then(() => {
          location.href = '/login'
        })
      })
    },

    changeDrawer() {
      this.editDrawer = false
    },
    // (中)多选框选中数据时
    // (日)マルチセレクトボックスでデータにチェックを入れた場合
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.multiple = !selection.length
      this.single = selection.length == 1 ? false : true
    }
  }
}
</script>

<style lang="scss" scoped>
</style>