<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-19 15:38:43
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 18:27:12
 */
</script>

<template>
  <div class="quotation">

    <outter-drawer :drawer="searchDrawer">
      <search-drawer @change="changeDrawer" />
    </outter-drawer>

    <outter-drawer :drawer="addDrawer">
      <add-edit-drawer @change="changeDrawer" :state="0" />
    </outter-drawer>

    <div class="main">
      <div class="header">
        <div class="title">見積情報検索</div>
        <div>
          <el-button size="mini" type="primary" icon="el-icon-plus" @click="addClick">新規登録</el-button>
        </div>
      </div>

      <el-form label-position="top" :model="searchForm" ref="searchForm">
        <el-row :gutter="20">
          <el-col :span="6">
            <el-form-item label="工事名称:">
              <el-input v-model="searchForm.construction_name" placeholder="テキスト" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="工事建物·工事区分名称:">
              <el-input v-model="searchForm.building_name" placeholder="テキスト" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="建物用途:">
              <el-input v-model="searchForm.usage" placeholder="テキスト" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="作業所長:">
              <el-input v-model="searchForm.field_office_manager" placeholder="テキスト" clearable></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="20">
          <el-col :span="6">
            <el-form-item label="品目:">
              <el-select v-model="searchForm.construction_item_id" placeholder="テキスト"></el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="科目:">
              <el-select v-model="searchForm.construction_method_id" placeholder="テキスト"></el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="概要:">
              <el-input v-model="searchForm.subject" placeholder="テキスト" clearable></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="20">
          <el-col :span="6">
            <el-form-item label="協力会社:">
              <el-select v-model="searchForm.coopration_name" placeholder="テキスト"></el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="ステータス:">
              <el-select v-model="searchForm.status" placeholder="テキスト"></el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="見積フェーズ:">
              <el-select v-model="searchForm.phase" placeholder="テキスト"></el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="20">
          <el-col :span="6">
            <el-form-item label="決定見積:">
              <el-switch
                v-model="searchForm.definite_quotation"
                active-text="On"
                inactive-text="Off"
              ></el-switch>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="最新の見積のみ表示:">
              <el-switch
                v-model="searchForm.only_lastest_quotation"
                active-text="On"
                inactive-text="Off"
              ></el-switch>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="6">
            <el-form-item label="発行日:">
              <el-date-picker
                v-model="published_date"
                type="daterange"
                range-separator="-"
                start-placeholder="テキスト"
                end-placeholder="テキスト"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="見積有効期限:">
              <el-date-picker
                v-model="expired_date"
                type="daterange"
                range-separator="-"
                start-placeholder="テキスト"
                end-placeholder="テキスト"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="18">
            <el-form-item label="見積条件:">
              <el-input
                type="textarea"
                :autosize="{ minRows: 3, maxRows: 4 }"
                placeholder="テキスト"
                v-model="searchForm.comment"
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>
    <div class="footer ar">
      <el-button size="small" @click="callOf('form')">クリア</el-button>
      <el-button type="primary" size="small" icon="el-icon-search" @click="searchClick">検索</el-button>
    </div>
  </div>
</template>

<script>
import OutterDrawer from '@/components/OutterDrawer'
import SearchDrawer from '@/views/quotation/SearchDrawer'
import AddEditDrawer from '@/views/quotation/AddEditDrawer'

export default {
  name: 'quotation',
  components: {
    OutterDrawer,
    SearchDrawer,
    AddEditDrawer
  },
  data() {
    return {
      searchDrawer: false,
      addDrawer: false,
      
      published_date: [],
      expired_date: [],

      searchForm: {
        construction_name: '',
        building_name: '',
        usage: '',
        field_office_manager: '',

        construction_item_id: '',
        construction_method_id: '',
        subject: '',

        coopration_name: '',
        status: '',
        phase: '',
        definite_quotation: null,
        only_lastest_quotation: 0,

        published_start: '',
        published_end: '',
        expired_start: '',
        expired_end: '',

        comment: '',
        page_no: 1
      }
    }
  },
  methods: {
    changeDrawer(drawer, state) {
      this[drawer] = state
    },

    addClick() {
        this.addDrawer = true
    },

    searchClick() {
      this.searchDrawer = true
    },
  },
  mounted() {}
}
</script>

<style lang="scss" scoped>
</style>