<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-16 15:40:54
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-02 09:40:54
 */
</script>

<template>
  <div>掛け率マスタ</div>
</template>

<script>
export default {

}
</script>

<style>

</style>