<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-16 15:39:43
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 18:27:31
 */
</script>
<template>
  <div>ユーザーマスタ</div>
</template>

<script>
export default {

}
</script>

<style>

</style>