<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-16 15:39:00
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 17:27:48
 */
</script>

<template>
  <div>査定</div>
</template>

<style>
</style>

<script>
export default {
  data() {
    return {}
  },
  methods: {}
}
</script>
