<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-16 09:33:58
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 09:53:49
 */
</script>

<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>