<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-16 15:28:55
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 23:01:35
 */
</script><template>
  <el-container class="login">
    <el-header class="header" height="88px">
      <img class="logo" src="@/assets/images/logo.png" />
    </el-header>
    <el-main class="center">
      <div class="content">
        <div class="title">AI見積査定システム</div>
        <div class="loginform">
          <el-form
            label-position="top"
            ref="loginForm"
            :model="loginForm"
            :rules="formRules"
          >
            <el-form-item prop="username" label="ユーザーID">
              <el-input
                v-model="loginForm.username"
                placeholder="テキスト"
                clearable
              >
              </el-input>
            </el-form-item>
            <el-form-item prop="password" label="パスワード">
              <el-input
                v-model="loginForm.password"
                type="password"
                placeholder="テキスト"
                clearable
                @keyup.enter.native="handleLogin"
              >
              </el-input>
            </el-form-item>
            <el-form-item>
              <el-button class="loginbtn" type="primary" @click="handleLogin()"
                >ログイン</el-button
              >
            </el-form-item>
          </el-form>
        </div>
        <div class="line">または</div>
        <el-button class="azurebtn" @click="azureClick()"
          >Azureでログイン</el-button
        >
      </div>
    </el-main>
    <el-footer class="bottom">
      <span>©Copyright&nbsp;1995-2022,&nbsp;Takenaka&nbsp;Corporation</span>
    </el-footer>
  </el-container>
</template>
  
<script>
export default {
  name: 'Login',
  data() {
    return {
      loginForm: {
        username: '',
        password: '',
      },
      formRules: {
        username: [
          {
            required: true,
            trigger: 'blur',
            message: '必須項目です。入力してください。',
          },
        ],
        password: [
          {
            required: true,
            trigger: 'blur',
            message: '必須項目です。入力してください。',
          },
        ],
      },
    }
  },
  methods: {
    handleLogin() {
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          const loginForm = JSON.parse(JSON.stringify(this.loginForm))
          this.$store
            .dispatch('Login', loginForm)
            .then(() => {
              this.$router.push({ path: '/' }).catch(() => {})
            })
            .catch((err) => {
              this.msgError(err.msg)
            })
        }
      })
    },
    azureClick() {},
  },
}
</script>
  
<style lang="scss" scoped>
.login {
  height: 100%;
  .header {
    height: 88px;

    .logo {
      height: 24px;
      margin: 32px;
    }
  }
  .center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .content {
      width: 312px;
      .title {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 32px;
      }
      .loginbtn {
        width: 100%;
        margin-bottom: 32px;
        margin-top: 15px;
      }

      .line {
        line-height: 1px;
        border-left: 122px solid #d9d9d9;
        border-right: 122px solid #d9d9d9;
        text-align: center;
      }

      .azurebtn {
        width: 100%;
        margin-top: 42px;
        color: #861c3c;
      }
    }
  }
  .bottom {
    text-align: center;
    color: #999090;
    font-size: 12px;
    font-weight: 400;
  }
}
</style>
  