/**
 * @Author: 李修明
 * @Date:   2023-01-16 14:54:00
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 23:59:33
 */
@import "../theme/index.css";
@import "../styles/variables.scss";

.el-main {
  padding: 0;
}

//input
.el-select {
  width: 100%;
}

.el-date-editor.el-input {
    width: 100%;
}

//el-switch
.el-switch {
  left: -27px;
}

.el-switch__label * {
  font-size: 12px;
}

.el-switch__label--left {
  position: relative;
  left: 46px;
  color: #ffffff;
  opacity: 0.5;
  z-index: -1111;
  font-weight: 400;
}

.el-switch__core {
  width: 40px !important;
  background-color: $secondary;
}

.el-switch__label--right {
  position: relative;
  right: 46px;
  color: #ffffff;
  opacity: 0.5;
  z-index: -1111;
  font-weight: 400;
}

.el-switch__label--right.is-active {
  z-index: 1111;
  color: #ffffff !important;
}

.el-switch__label--left.is-active {
  z-index: 1111;
  color: #ffffff !important;
}

.el-form--label-top .el-form-item__label {
  padding: 0;
}

//el-drawer
.el-drawer__body {
  background-color: $bgGray;
}

//el-collapse
.el-collapse {
  border-top: none;
  border-bottom: none;
}

.el-collapse-item__header {
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  border-bottom: none;
  user-select: none;
}

.el-collapse-item {
  margin-bottom: 24px;
  border-radius: 4px;
}

.el-collapse-item__content {
  padding: 0 20px 20px 20px;
  font-size: 14px;
}

.el-collapse-item__arrow {
  font-size: 14px;
  font-weight: 500;
  color: $prinary;
}

.el-collapse-item__arrow .el-icon-arrow-down {
  transition: transform 0.3s;
  margin-left: 5px;
}

.el-collapse-item__arrow .el-icon-arrow-down.is-active {
  transform: rotate(-180deg);
}
