/**
 * @Author: 李修明
 * @Date:   2023-01-16 14:54:00
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 22:32:21
 */
@import "./element-ui.scss";
@import "./variables.scss";
@import "./mixin.scss";
@import "./sidebar.scss";

@font-face {
  font-family: NotoSansJP;
  src: url("~@/assets/font/NotoSansJP.ttf");
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: NotoSansJP;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
}

label {
  font-weight: 400;
  line-height: 22px;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: NotoSansJP;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.ar {
  justify-content: flex-end;
}

.al {
  justify-content: flex-start;
}

.sb {
  justify-content: space-between;
}

.main {
  margin: 20px 20px 80px 20px;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 24px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
  }
}

.title {
  font-weight: 700;
  font-size: 16px;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.lbtitle {
  color: $secondary;
}

.row {
  margin-bottom: 24px;
}

.row:nth-last-child(1) {
  margin-bottom: 4px;
}

//footer
.footer {
  min-width: calc(100% - $sideBarWidth);
  transition: min-width 0.28s;
  height: 60px;
  box-shadow: inset 0px 1px 0px #e9e9e9;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  right: 0;
  padding-left: 30px;
  padding-right: 44px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.drawer-header {
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .header-title {
    display: flex;
    flex-direction: row;

    div {
      margin-right: 24px;

      span {
        color: $prinary;
      }
    }
  }
  .close {
    min-width: 26px;
    min-height: 26px;
    cursor: pointer;
    display: block;
  }
}

.drawer-table {
  padding: 24px;
  background-color: $bgLight;
  border-radius: 4px;
  margin-bottom: 60px;
}

.search-drawer {
    padding: 0 24px;
}

.add-edit-drawer {
    padding: 20px;
    margin-bottom: 60px;

    .card {
        padding: 24px;
        background-color: #ffffff;
        border-radius: 4px;
        margin-bottom: 20px;
    }
}