/**
 * @Author: 李修明
 * @Date:   2023-01-16 09:33:58
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 17:47:48
 */

#app {
  .main-container {
    min-height: calc(100% - 60px);
    transition: margin-left 0.28s;
    margin-left: $sideBarWidth;
    position: relative;
    top: 60px;

    .footer {
      min-width: calc(100% - $sideBarWidth);
      transition: min-width 0.28s;
    }
  }

  .sidebar-container {
    -webkit-transition: width 0.28s;
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0px;
    left: 0;
    z-index: 999;
    overflow: hidden;
    -webkit-box-shadow: 2px 0 6px #e9e9e9;
    box-shadow: 2px 0 6px #e9e9e9;

    .el-scrollbar__view {
      margin-top: 20px;
    }

    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 10px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    .el-menu-item,
    .el-submenu__title {
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
      margin: 4px 8px;
      padding: 0;
      border-radius: 4px;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: rgba(0, 0, 0, 0.06) !important;
      }
    }

    & .is-active > .el-submenu__title {
      color: $subMenuActiveText !important;
    }

    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
      &:hover {
        background-color: rgba(0, 0, 0, 0.06) !important;
      }
    }

    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: $closeSideBarWidth !important;
    }

    .main-container {
      margin-left: $closeSideBarWidth;

      .footer {
        min-width: calc(100% - $closeSideBarWidth);
      }
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      & > .el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .nomenu {
    font-size: 14px;
    height: 56px;
    line-height: 56px;
    margin: 4px 8px;
    padding: 0 20px;
    color: $menuText;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    white-space: nowrap;
    border-radius: 4px;
  }

  .nomenu:hover {
    background-color: rgba(0, 0, 0, 0.06) !important;
  }

  .fold {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 75px;
  }
}

// when menu collapsed
.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 10px;
    }
  }

  .nest-menu .el-submenu > .el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: rgba(0, 0, 0, 0.06) !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}

.el-menu-item.is-active {
  background: $menuLightBg;
}

.app-main {
  min-height: calc(100vh - 60px);
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f7f5f5;
}
