/**
 * @Author: 李修明
 * @Date:   2023-01-29 09:33:58
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 17:39:03
 */

// base color
$prinary: #861C3C;
$secondary: #999090;
$success: #56B825;
$warning: #E5AE2E;
$danger: #F56262;
$link: #2571B8;

// base background
$bgLight: #ffffff;
$bgGray: #f7f5f5;

// sidebar
$menuText: #666060;
$menuActiveText: #861c3c;
$subMenuActiveText: #666060;

$menuBg: #ffffff;
$menuHover: #ffffff;
$sidebarTitle: #ffffff;

$menuLightBg: #861c3c29;
$menuLightHover: #f0f1f5;
$sidebarLightTitle: #ffffff;

$subMenuBg: #ffffff;
$subMenuHover: #f0f0f0;

$sideBarWidth: 224px;
$closeSideBarWidth: 72px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  menuLightBg: $menuLightBg;
  menuLightHover: $menuLightHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  sidebarTitle: $sidebarTitle;
  sidebarLightTitle: $sidebarLightTitle;
  closeSideBarWidth: $closeSideBarWidth;
}
