<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-18 15:38:43
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-02 09:20:26
 */
</script>

<template>
  <div class="search-drawer">
    <outter-drawer :drawer="editDrawer">
      <add-edit-construction @change="changeDrawer" :state="1" :constructionForm="constructionForm" />
    </outter-drawer>

    <div class="drawer-header">
      <div class="header-title">
        <div class="title">工事情報一覧</div>
        <div>
          検索結果&nbsp;<span>{{ num }}</span
          >&nbsp;件
        </div>
      </div>
      <svg-icon className="close" icon-class="close" @click="colseDrawerClick" />
    </div>

    <fold-card v-model="activeName" accordion>
      <fold-card-item v-for="(value, i) in dataList" :title="dataList[i].constraction_code + '·' + dataList[i].construction_name" :key="i" :name="dataList[i].id">
        <el-row :gutter="20" class="row">
          <el-col :span="6">
            <div class="lbtitle">管轄:</div>
            <div class="content">{{ dataList[i].division_name }}</div>
          </el-col>
          <el-col :span="6">
            <div class="lbtitle">建設地:</div>
            <div class="content">{{ dataList[i].prefecture_city_name }}</div>
          </el-col>
          <el-col :span="6">
            <div class="lbtitle">建物用途:</div>
            <div class="content">{{ dataList[i].usage }}</div>
          </el-col>
          <el-col :span="6">
            <div class="lbtitle">特入区分:</div>
            <div class="content">{{ dataList[i].order_type_name }}</div>
          </el-col>
        </el-row>

        <el-row :gutter="20" class="row">
          <el-col :span="6">
            <div class="lbtitle">工事建物·工事区分名称:</div>
            <div class="content">{{ dataList[i].constraction_building_name }}</div>
          </el-col>
          <el-col :span="6">
            <div class="lbtitle">工事種別:</div>
            <div class="content">{{ dataList[i].construction_type_name }}</div>
          </el-col>
          <el-col :span="6">
            <div class="lbtitle">建物種別:</div>
            <div class="content">{{ dataList[i].building_structure }}</div>
          </el-col>
          <el-col :span="6">
            <div class="lbtitle">設計者:</div>
            <div class="content">{{ dataList[i].designed_by }}</div>
          </el-col>
        </el-row>
        <el-row :gutter="20" class="row">
          <el-col :span="6">
            <div class="lbtitle">敷地面積(㎡):</div>
            <div class="content">{{ dataList[i].site_area }}</div>
          </el-col>
          <el-col :span="6">
            <div class="lbtitle">延床面積(㎡):</div>
            <div class="content">{{ dataList[i].total_area }}</div>
          </el-col>
          <el-col :span="6">
            <div class="lbtitle">工事監理者:</div>
            <div class="content">{{ dataList[i].supervised_by }}</div>
          </el-col>
          <el-col :span="6">
            <div class="lbtitle">作業所長:</div>
            <div class="content">{{ dataList[i].field_office_manager }}</div>
          </el-col>
        </el-row>
        <el-row :gutter="20" class="row">
          <el-col :span="6">
            <div class="lbtitle">着工日:</div>
            <div class="content">{{ dataList[i].constraction_start_at }}</div>
          </el-col>
          <el-col :span="6">
            <div class="lbtitle">竣工日:</div>
            <div class="content">{{ dataList[i].constraction_complete_at }}</div>
          </el-col>
        </el-row>

        <el-table
          class="table"
          :data="dataList[i].construction_item_methods_buinldings"
          :header-cell-style="{ background: '#f7f5f5' }"
          :ref="dataList[i].construction_item_methods_buinldings"
        >
          <el-table-column prop="construction_item_name" label="品目"> </el-table-column>
          <el-table-column prop="construction_method_name" label="科目"> </el-table-column>
          <el-table-column prop="start_at" label="施工開始日"> </el-table-column>
          <el-table-column prop="end_at" label="施工終了日"> </el-table-column>
          <el-table-column prop="settlement_fiscal_year" label="決算年度"> </el-table-column>
        </el-table>

        <div class="operation">
          <el-button type="primary" size="small" @click="deleteClick">削除</el-button>
          <el-button type="primary" size="small" @click="editClock">編集</el-button>
          <el-button type="primary" size="small" @click="quotationClick">見積入力</el-button>
        </div>
      </fold-card-item>
    </fold-card>
  </div>
</template>

<script>
import SvgIcon from '@/components/SvgIcon'
import FoldCard from '@/components/FoldCard'
import FoldCardItem from '@/components/FoldCard/fold-card-item'
import OutterDrawer from '@/components/OutterDrawer'
import AddEditConstruction from '@/views/construction/addEditConstruction'
import { editConstructions } from '@/api/construction'
import { deleteConstructions } from '@/api/construction'

export default {
  name: 'SearchDrawer',
  components: {
    SvgIcon,
    FoldCard,
    FoldCardItem,
    OutterDrawer,
    AddEditConstruction
  },
  props: {
    result: Array
  },
  data() {
    return {
      activeName: '',
      id: '',
      constructionForm: {},
      dataList: this.result,
      idList: [],
      editDrawer: false,
      constructionForm: {},
    }
  },
  computed: {
    num() {
        return this.result.length
    }
  },
  watch: {
    result(val) {
        debugger
      this.dataList = val
    },
  },
  methods: {
    editClock() {
      editConstructions(this.activeName)
        .then(res => {
          this.constructionForm = res.result
          this.editDrawer = true
        })
        .catch(err => {
          this.msgError(err.msg)
        })
    },
    changeDrawer(drawer, state) {
      this[drawer] = state
    },
    colseDrawerClick() {
      this.$emit('change', 'searchDrawer', false)
    },
    deleteClick() {
      this.idList.push(this.activeName)
      deleteConstructions(this.idList)
        .then(res => {
          const _xId = this.activeName
          this.dataList = this.dataList.filter(item => {
            return item.id !== _xId
          })
        })
        .catch(err => {
          this.msgError(err.msg)
        })
    },
    quotationClick() {}
  }
}
</script>

<style lang="scss" scoped>
  .search-drawer {
    .table {
      margin: 10px 0;
    }
    .operation {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
    }
  }
</style>