<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-19 21:51:40
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 17:28:19
 */
</script>

<template>
  <div>404</div>
</template>

<style>
</style>

<script>
export default {
  data() {
    return {}
  },
  methods: {},
}
</script>
