<script>
/**
 * @Author: 李修明
 * @Date:   2023-01-16 10:42:35
 * @Last Modified by:   李修明
 * @Last Modified time: 2023-02-01 17:40:19
 */
</script>

<template>
  <div :class="classObj" class="app-wrapper">
    <div :class="{ 'fixed-header': true }">
      <navbar :name="name" />
    </div>
    <div class="main-container">
      <sidebar class="sidebar-container" />
      <app-main />
    </div>
  </div>
</template>

<script>
import { AppMain, Navbar, Sidebar } from './components'
import ResizeMixin from './mixin/resizeHandler'
import { mapState } from 'vuex'
import variables from '@/assets/styles/variables.scss'

export default {
  name: 'Layout',
  components: {
    AppMain,
    Navbar,
    Sidebar
  },
  mixins: [ResizeMixin],
  computed: {
    ...mapState({
      sidebar: state => state.app.sidebar,
      device: state => state.app.device,
      name: state => state.user.name
    }),
    classObj() {
      return {
        hideSidebar: !this.sidebar,
        openSidebar: this.sidebar
      }
    },
    variables() {
      return variables
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
  @import '~@/assets/styles/mixin.scss';
  @import '~@/assets/styles/variables.scss';

  .app-wrapper {
    @include clearfix;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    transition: width 0.28s;
  }

 
</style>
